h1 {
    text-align: center;
    color: lightpink;
    font-size: 2rem
}

h2 {
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    color: lightcoral;
    font-size: 2rem;
}

h4 {
    text-align: center;
    color: #FFA500;
    font-size: 2rem;
}